PORT=4000
CLIENT_URL=https://madni-rental.vercel.app
MONGODB_URI=mongodb+srv://madnicoder_db_user:madni0909@cluster0.dpqeixh.mongodb.net/razvi_rental?retryWrites=true&w=majority
JWT_SECRET=razvi-rental-local-secret
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=admin@razvi
ADMIN_PASSWORD=123
# TWILIO_ACCOUNT_SID=
# TWILIO_AUTH_TOKEN=
# TWILIO_FROM_NUMBER=
# CLOUDINARY_URL=